* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

/* === nav bar style === */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.brand {
    display: inline-block;
    width: 110px;
    height: 24px;
    margin: 0;
    cursor: pointer;
}

.nav-form {
    width: 40%;
}

.nav-form input {
    width: 90%;
    padding: 0.5em;
    border: 1px solid #ccc;
    font: 1.5em;
    float: left;
}

.nav-form button {
    float: left;
    width: 10%;
    line-height: 1.em;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #ccc;
    background-color: #f9f9f9;
    border-left: none;
    padding: 0.1em; /* Fix alignment */
  } 

  .nav-form::after {
    content: "";
    clear: both;
    display: table;
  }


nav i {
    margin: 0.5em;
    cursor: pointer;
    color: #555;
}

div.row {
    display: flex;
    background-color: #f9f9f9;
}

/* === Main ===*/
main {
    flex: 65%;
    padding: 1em 1.4em;
}

.video-info {
    color: #333333;
    font-size: 0.95;
    padding: 0.5em;
    border-bottom: 1px solid #bbb;
}

.video-info button {
    background-color: inherit;
    color: #444;
    display: inline-block;
    border: none;
    margin: 0;
    cursor: pointer;
    font-size: 0.7em;
    text-align: center;
}

.video-feedback i {
    font-size: 18px;
}

.author-img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.subscribe-btn {
    display: inline-block;
    margin: 0;
    background-color: #c00;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
}


.desc {
    justify-content: space-between;
    display: flex;
    margin: 1em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #bbb;
}

.desc-col2 {
    margin-right: 0;
    margin-left: 1em;
}

.desc-header {
    display: flex;
    justify-content: space-between;
}






/* Misc*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style up-next video */

li.next-video {
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0.5em 0;
}

span.next-video-author, span.dates-and-views {
    font-size: 75%;
    color: #333;
    
}