* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
      width: 60%;
      dborder: 1px solid red;
      padding: 22px;
  }

aside {
    width: 40%;
    dborder: 1px solid green;
}

  main, aside {
      float: left;
  }

/* Misc*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

  /* Nav bar styling*/
nav {
    display: flex;
    justify-content: space-between;
}

  /* Styling Icons*/
  nav img {
      width: 24px;
      display: inline-block;
  }

  nav a.brand img {
    width: 105px;
    height: 40px;
}

/* Style up-next video */

li.next-video {
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0.5em 0;
}

span.next-video-author, span.dates-and-views {
    font-size: 75%;
    color: #333;
    
}